node_modules
dist
dist-ssr
storybook-static
coverage
.DS_Store
*.local
.env
.env.local
.env.*.local
.vite
.turbo
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
playwright-report
test-results
